@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: white;
    margin: auto 0;
    height: max-content;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgb(200, 212, 255);
}

.header h1{
    font-size: 27px;
    text-align: center;
    padding-top: 45px;
}

.main > img{
    width: 100%;
}

.description p{
    font-size: 15px;
    padding: 22px 71px 0 71px;
    text-align: center;
    color: rgb(126,129,149);
    line-height: 1.35;
}

.payment-container{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 25px 0;
}

.plan{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 95px;
    font-size: 15px;
}

.payment{
    display: flex;
    align-items: center;
    padding: 25px 25px;
}

.plan > span:first-child{
    font-weight: bold;
    padding-bottom: 3px;
}

.icon img{
    display: flex;
}

.plan span:last-child{
    color: rgb(126,129,149);
}

.link span{
    color: rgb(58,55,154);
    text-decoration: underline;
    cursor: pointer;
}

.link span:hover{
    color: rgb(115,110,191);
    text-decoration: none;
}

.order-buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.order-buttons span:first-child{
    background-color: rgb(55,61,224);
    color: rgb(245,246,255);
    border-radius: 10px;
    padding: 15px 104px;
    box-shadow: 3px 22px 20px rgb(218, 216, 250);
    cursor: pointer;
}

.order-buttons span:first-child:hover{
    background-color: rgb(116,114,238);
}

.order-buttons span:last-child{
    margin-top: 32px;
    margin-bottom: 52px;
}

span h4{
    color: rgb(119,127,142);
    cursor: pointer;
    display: contents;
}

span h4:hover{
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    .main{
        width: 320px;
    }

    .header h1{
        font-size: 22px;
        padding-top: 30px;
    }
    
    .description p{
        line-height: 1.6;
        padding: 22px 30px 0 30px;
    }

    .payment{
        padding-left: 15px;
        padding-right: 15px;
    }

    .plan{
        padding-right: 40px;
        padding-left: 20px;
    }

    .order-buttons span:first-child {
        padding-left: 70px;
        padding-right: 70px;
    }
}